body {
    
	background: linear-gradient(-45deg, #37da6d, #ec3030, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Exo';
    color: #fff;
    font-size: 4rem;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 8rem;
}

.button:hover {
    transform: scale(1.5);
}

.results {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    gap: 48px;
    font-weight: bolder;
    color: #fff;
}

.score  {
    margin: 0 1rem;

}